@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
body {
    background: white;
    font-family: 'poppins', arial;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: left;
    padding: 0.0;
    .logo {
        max-width: 30%;
    }
    header {
        display: none;
    }
}

nav {
    ul {
        display: flex;
        a {
            display: block;
            padding: 0.0em;
            color: white;
        }
    }
}

.hero .hed {
    color: rgba(230, 230, 230, 0.6);
    text-align: left;
}

h1 {
    color: white;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0;
}

.hero {
    background: rgb(45, 119, 94);
    padding: 2em;
    .signup {
        margin-left: 5em;
        max-width: 450px;
        display: grid;
        grid-column: auto;
        background-color: #fff;
        box-shadow: 0px 0px 5px 5px rgba(93, 102, 128, 0.47);
        padding: 1em;
        h2 {
            position: relative;
            padding: 0.5em;
            margin-bottom: 0.7em;
        }
        h2::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            height: 4px;
            width: 4em;
            border-radius: 2px;
            background-color: #2ecc71;
        }
        .field {
            width: 90%;
            padding: 0.5rem 1rem;
            outline: none;
            border: 2px solid rgba(0, 0, 0, 0, );
            background-color: rgba(230, 230, 230, 0.6);
            font-size: 1.1rem;
            margin-bottom: 2em;
            transition: .3s;
        }
        .field:hover {
            background-color: rgba(0, 0, 0, 0.1, );
        }
        .field:focus {
            background-color: #ffff;
            border: 2px solid rgba(30, 85, 250, 0.47)
        }
        .btn {
            width: 50%;
            padding: 0.5rem 1rem;
            font-size: 1.1rem;
            background-color: #2ecc71;
            cursor: pointer;
            outline: none;
            border: none;
            color: #fff;
            transition: 0.3s;
        }
        .btn:hover {
            background-color: #27ae60;
        }
    }
}

.rightcol {
    position: relative;
    justify-content: left;
    align-items: left;
    padding: 2em;
}

.heroimg {
    width: 50%;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.featured::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(159, 226, 204);
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}

.feed {
    color: #333;
    margin-bottom: 3em;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.8em;
}

.featured .left img {
    width: 50%;
}

.left button {
    width: 50%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: 0.3s;
}

.services {
    font-size: 1.5em;
    background: rgb(25, 82, 63);
    color: #fff;
}

.servicescontainer ul li {
    font-size: .9em;
    background: white;
    color: #333;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.iconcontainer {
    height: 100px;
    display: flex;
    place-content: center;
    margin: 0 auto;
    &.iconcontainer1 {
        width: 50px;
    }
    &.iconcontainer2 {
        width: 60px;
    }
    &.iconcontainer3 {
        width: 100px;
    }
    &.iconcontainer4 {
        width: 60px;
    }
    &.iconcontainer5 {
        width: 60px;
    }
}

.title {
    font-weight: bold;
}

footer img {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 400px;
}

footer ul {
    align-items: center;
}

footer ul li {
    text-align: center;
    display: block;
    font-size: 0.9em;
    align-items: center;
    padding: 0.5em;
}

.fineprint {
    text-align: center;
    font-size: 0.6em;
}

@media only screen and (min-width:720px) {
    .featured {
        text-align: left;
        display: flex;
    }
    .left {
        place-content: center;
        flex-basis: 70%;
        order: 2;
    }
    .right {
        margin-left: 2em;
        margin-top: 1em
    }
    .servicescontainer ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
        align-items: center;
    }
    .servicescontainer img {
        max-width: 50%;
    }
    .heroimg {
        width: 100%;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .hero img {
        width: 100%
    }
    .container {
        flex-basis: 60%;
        order: 2;
    }
    .signup {
        width: 300px;
        padding-top: -1em;
        padding-bottom: 0.5em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    .right .featuredimg {
        position: relative;
    }
    .featuredcontainer {
        flex-basis: 60%;
        order: 2;
    }
}